@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
body {
  padding: 100px;
  font-family: 'Roboto',sans-serif;
  font-weight: 300; }

h1.greet-message {
  text-align: center;
  font-weight: 300; }

ul.list-group {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  text-align: center; }
  ul.list-group li {
    display: inline-block;
    padding: 10px;
    background: #FFEB3B;
    margin: 0 5px;
    transform: skewX(7deg) skewY(2deg); }

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  max-width: 50%;
  cursor: pointer; }
  .fork-me img {
    max-width: 100%;
    cursor: pointer; }
